include LICENSE
include *.rst
include *.md
include *.json
include *.txt
include .bowerrc

recursive-include . *.ipynb
recursive-include ipytangle/static/ipytangle *.*

recursive-exclude . __pycache__
recursive-exclude . *.py[co]

prune ipytangle/static/ipytangle/lib/mathjs/bin
prune ipytangle/static/ipytangle/lib/mathjs/docs
prune ipytangle/static/ipytangle/lib/mathjs/examples
prune ipytangle/static/ipytangle/lib/mathjs/lib
prune ipytangle/static/ipytangle/lib/numeral/languages
prune ipytangle/static/ipytangle/lib/numeral/tests
