.widget-tangle.docked {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  height: 200px;
  overflow-y: auto;
}
.widget-tangle.docked .variable {
  float: left;
  padding: 5px;
}
.widget-tangle.docked .variable h6 {
  text-align: center;
  font-family: monospace;
}
